<%= form_with(model: store, data: { controller: 'nested-form',
    nested_form_wrapper_selector_value: '.nested-form-wrapper' }) do |form| %>
  <% if store.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(store.errors.count, "error") %> prohibited this store from being saved:</h2>

      <ul>
        <% store.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <%= form.fields_for :manager do |manager_fields| %>
    <div class="field">
      <%= manager_fields.label "Manager's name", style: "display: block" %>
      <%= manager_fields.text_field :name %>
    </div>

    <div class="field">
      <%= manager_fields.label "Manager's birth date", style: "display: block" %>
      <%= manager_fields.date_field :birth_date %>
    </div>
  <% end %>


  <%# Start Custom logic here %>
  <%# template - non rendered HTML %>
  <template data-nested-form-target="template">
    <%= form.fields_for :contacts, Contact.new, child_index: 'NEW_RECORD' do |contact_fields| %>
      <%= render 'contact_form', f: contact_fields %>
    <% end %>
  </template>

  <%= form.fields_for :contacts do |contact_fields| %>
    <%= render "contact_form", f: contact_fields %>
  <% end %>
  <%# End Custom logic here %>

  <!-- Inserted elements will be injected before that target. -->
  <div data-nested-form-target="target"></div>
  <button type="button" data-action="nested-form#add">Add contact</button>
  
  <div>
    <%= form.submit %>
  </div>
<% end %>
