<div id="<%= dom_id store%>">
  <p>
    <strong>Name:</strong>
    <%= store.name %>
  </p>

  <p>
    <strong>Manager:</strong>
    <%= store.manager.name %>
  </p>

  <p>
    <strong>Manager's birth date:</strong>
    <%= store.manager.birth_date %>
  </p>

  <p>
    <strong>Store's contacts:</strong>
    <ul>
      <% store.contacts.each do |contact| %>
        <li><%=contact.contact_type%></li>
        <li><%=contact.contact_value%></li>
        <hr>
      <% end %>
    </ul>
  </p>

</div>
