<p style="color: green"><%= notice %></p>

<%= render @store %>

<div>
  <%= link_to "Edit this store", edit_store_path(@store),
    class: "btn btn-warning"%> |
  <%= link_to "Back to stores", stores_path,
    class: "btn btn-secondary" %>

  <%= button_to "Destroy this store", @store, method: :delete,
    class: "btn btn-danger" %>
</div>
